.cartModalCont{
  width: 30vw;
  height: auto;
  border: 1px solid black;
  position: absolute;
  top: 100px;
  left: 45vw;
  background: white;
  padding: 1%;
}

.cartItem {
  margin: 3%;
  display: flex;
  border-bottom: 1px solid black; 
  box-sizing: border-box;
}

.cartItem a {
  width: 40%;
  padding: 3%;
}

.cartModalImage{
  width: 100%;
}

.cartItem p {
  display: flex;
}

.cartInfo{
  display: flex;
  width: 80%;
  justify-content: flex-end;
  margin-left: 10%;
  align-items: center;
}

.cartInfo p {
  font-size: 1.7em;
}

.cartButton{
  margin-left: 5%;
}