.categoryPage{
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  background: white;
  font-family: 'Raleway', sans-serif;
  padding-top: 20px;
}
.categoryPage h3 {
  margin-top: 5%;
  margin-left: 40%;
  font-size: 80px;
  color: #1a1a1a;
}

.productDisplay{
  background-color: white;  
  width: 85%;
  margin-top: -130px;
  margin-bottom: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
  padding: 2%; 
  padding: 20px;
  transition: .5s;
  z-index: 2;
}


.categoryProduct{
  width: 28%;
  height: auto;
  margin: 1%;
}

.categoryProduct img {
  width: 100%;
  height: auto;
}














