.detailContainer{
  display:flex;
  flex-direction: column;
  width: 40%;
  margin-top: 80px;
}

.contentContainer {
  margin-top: 150px;
  width:1000px;
  height:700px;
  margin-left: 30px;
}

.itemTitle{
  font-weight: bold;
  flex-grow: 1;
  font-size: 18px;
}

.itemPrice{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  
}


.itemDescription{
  flex-grow: 1;
   margin-right: 385px; 
}

.itemHeading {
  display: flex;

}


.itemDetail{
  padding-top: 20px;
  text-align: left;
  margin-bottom: 150px;
  width: 450px;
  font-size: 16px;
}

.icon{
  color:black;
  letter-spacing: 2px;
  margin-top: -120px;
  width: 50px;
  font-size: 12px;
}



.stock{
  text-align: center;
}

.btn-round-lg{
border-radius: 22.5px;
}

.btn {
  margin-bottom: 250px;
}

