.detailContainer{
  display:flex;
  flex-direction: column;
  width: 40%;
  margin-top: 80px;
}

.contentContainer {
  margin-top: 100px;
  width:1000px;
  height:700px;
  margin-left: 30px;
}

.itemTitle{
  font-weight: bold;
  flex-grow: 1;
  font-size: 18px;
}

.itemPrice{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  
}


.itemDescription{
  flex-grow: 1;
   margin-right: 385px; 
}

.itemHeading {
  display: flex;

}


.itemDetail{
  padding-top: 20px;
  text-align: left;
  margin-bottom: 150px;
  width: 450px;
  font-size: 16px;
}

.icon{
  color:black;
  letter-spacing: 2px;
  margin-top: -120px;
  width: 50px;
  font-size: 12px;
}

/* div.icon.detailRow{
  display: flex;
  justify-content:flex-start;
  margin-left:-200px;
  
}*/

/*.urls{
  margin-top:100px;
}

*/
div.features.detailRow{
  display:flex;
  justify-content: center;
  margin-top:50px;
}

div.icon.detailRow{
  display: flex;
  flex-direction: column;
  float: left;
  align-items:center;
  margin-left: 500px;
  margin-top:-370px;
}

button#targbut.btn.btn-default{
  float: left;
  margin-left: 100px;
}


.stock{
  text-align: center;
}

.features .btn-round-lg{
border-radius: 22.5px;
}

.features .btn {
  margin-bottom: 250px;
}

div.rating{  
margin-left:10px;
margin-top:90px;
}

button#minus.btn.btn-default{
  opacity: 0.7;

}

button#add.btn.btn-default{
  opacity: 0.7;
}
