
@font-face {
    font-family: maxLight;
    src: url(./fonts/MAXWELL_LIGHT.ttf);
}
@font-face {
    font-family: maxReg;
    src: url(./fonts/MAXWELL_REGULAR.ttf);
}
@font-face {
    font-family: maxBold;
    src: url(./fonts/MAXWELL_BOLD.ttf);
}
body{
  overflow-x: hidden;
}

/* -------------Category Page--------------- */
/* -------------Category Page--------------- */

.categoryPage{
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  background: white;
  font-family: 'Raleway', sans-serif;
  padding-top: 20px;
}
.categoryPage h3 {
  margin-top: 5%;
  margin-left: 40%;
  font-size: 80px;
  color: #1a1a1a;
}

.productDisplay{
  background-color: white;  
  width: 55%;
  margin-top: -130px;
  margin-bottom: 30px;
  margin-left: 25%;
  justify-content: space-around;
  border: 1px solid black;
  font-size: 20px;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
  padding: 2%; 
  padding: 20px;
  transition: .5s;
  z-index: 2;
}

.greenDash {
  width: 100%;
  height: 200px;
  background-color: #78866B;
  margin-bottom: 550px;
  margin-top: 150px;
  border-bottom: 10px;
  border-bottom-color: brown;
}

.browndash {
  width: 100%;
  height: 30px;
  background-color: #C19A6B;
  margin-top: -540px;
  margin-bottom: 400px;
}

.productDisplay:hover {
  width: 70%;
  transition: .5s;
}

.categoryProduct{
  width: 100%;
  height: auto;
  padding: 1%;
  margin-left: 20px;
}

.categoryProduct img {
  width: 100%;
  height: auto;
}

/*.apparel{
  background-image: url('../images/apparel.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
 margin: 100px 0 0 100px;
  background-color: red;

}

.tech {
  background-image: url('../images/tech.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 0 0 100px;
}*/



/*----------------Bottom Feature-----------------*/
.bottomFeatureCont{
  position: relative;
}

.shape {
  width: 90%;
  height: 325px;
  transform: skew(10deg);
  background: #909060;
  position: absolute;
  opacity: .4;
  margin: 0 auto; 
  margin-top: 4%;
  margin-left: 5%;

}

.bottomFeature{
  margin-top: 5%;
}

.bottomFeature .modal1 {
  height: 405px;
  width: 400px;
  margin: 1%;
  transform: skew(10deg);
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottomFeature .modalImage {
  width: 200%;
  height: 505px;
  background-size: cover;
  transform: skew(-10deg) translate(-150px, 0);
}

/*.bottomFeature .modal1:hover {
  transform: scale(1.05) skew(10deg);
}*/


.scrollButtons{
  padding: 0;
}

.homeShape{
  background: #909060;
  position: absolute;
  opacity: .4;
  margin-top: -150px;
  width: 6500px;
  height: 1000px;
  transform: rotate(8deg) translate(-10%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   overflow: hidden;
   z-index: -10000;
}

.apparel{
  background-image: url('../images/apparel.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}


/*---------------------- Nav Bar----------------------*/
header{
  z-index: 10000; 
  position: fixed;
  top: 0;

}

.topNav{
  overflow: hidden;
  height: 75px;
  padding: 5%;
}

.topNav img {
  width: 100%;
  transform: translate(0, -80%);
}

.navCont {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  background: white;
  position: absolute;
  top:0;
  height: 70px;
  width: 100vw;
  opacity: .8;
}

.hipstoreFlag{
  width: 16vw;
  margin-left: 6vw;

}



.flag {
  background: #F0D8A8 ;
  display: inline-block;
  height: 100px;
  position: relative;
  width: 16vw;
  transform: rotate(180deg);
  color: transparent;
  overflow: visible;
}
.flag:before {
  border-bottom: 35px solid #F0D8A8;
  border-left: 8vw solid transparent;
  border-right: 8vw solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;

}

.flag img{
  opacity: .5;
  transform: translate(0, -25%);
  width: 100%;
}
.flag img:before{
  border-bottom: 35px solid #F0D8A8;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.mainLogoSticky{
  width: 100px;
  height: 60px;
  background-image: url('hipstore.png');
  background-size: 100px 50px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: -40%;
  transform: scale(1.5);
}

.linkContainer{
  display: flex;
  justify-content: flex-end;
  width:35vw;
  list-style: none;
  padding: 0;
  margin: 0;
}


.link {
  padding: 0 3%;
  width: 30%;
  text-decoration: none;
  font-family: maxReg;
  font-size: 2.2em;
  line-height: 2em;
  margin: 0;
}

/*.nameLink{
  width: 250px;
  line-height: 1em;
}*/

.suitcase{
  border: none;
  background: transparent;
  color: #484830;
}

.searchBar {
  width: 20vw;
}

.searchInput{
  width: 100%;
  font-size: 1.7em;
  transform: translate(0,50%);
}





.searchGrow-enter {
  opacity: 0.01;
  left: 100%;
}
.searchGrow-enter.searchGrow-enter-active {
  opacity: 1;
  transition: opacity 500ms ease;
  left: 0;
}


/*
.homeFlex{
  display: flex;
  width: 90%;
  height: 800px;
  border: 3px solid blue;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
}

.firstCont, .secondCont, .thirdCont{
  margin: 0 1% ;
}
.firstCont{
  flex-grow: 12;
}
.secondCont{
  flex-grow: 3; 
   margin: 0 1% ;
}
.thirdCont{
 flex-grow: 1; 
}*/












