/* -------------Category Page--------------- */

.categoryPage{
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  background:;

}
.categoryPage h3 {
  margin-top: 5%;
  margin-left: 60%;
  font-size: 80px;
  color: white;
}

.productDisplay{
  background: white;
  width: 65%;
  margin-left: 30%;
  justify-content: space-around;
  font-size: 20px;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
  padding: 2%; 
}

.categoryProduct{
  width: 100%;
  height: auto;
  padding: 1%;
}

.categoryProduct img {
  width: 100%;
  height: auto;
}

.apparel{
  background-image: url('../images/apparel.jpg');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  margin: 100px 0 0 100px;
  /*background-color: red;*/

}

.tech {
  background-image: url('../images/tech.jpg');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  padding: 100px 0 0 100px;
}


/*----------------Bottom Feature-----------------*/
.bottomFeatureCont{
  position: relative;
}

.shape {
  width: 90%;
  height: 325px;
  transform: skew(10deg);
  background: #909060;
  position: absolute;
  z-index: -1;
  opacity: .4;
  margin: 0 auto; 
  margin-top: 4%;
  margin-left: 5%;

}

.bottomFeature{
  margin-top: 5%;
}

.bottomFeature .modalImage {
  width: 200%;
  height: 505px;
  background-size: cover;
  transform: skew(-10deg) translate(-150px, 0);
}


.bottomFeature .modal1 {
  height: 405px;
  width: 400px;
  margin: 1%;
  transform: skew(10deg);
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scrollButtons{
  padding: 0;
}

.homeShape{
  background: #909060;
  position: absolute;
  z-index: -1;
  opacity: .4;
  margin-top: -150px;
  width: 2000px;
  height: 600px;
  transform: rotate(8deg) translate(-10%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}










