.sign{
  border: 3px red solid;
  margin: 0 auto;
  margin-top: 15%;
  width:80%;
  display: flex;
  justify-content: space-around;
}
.sign > section{
  width: 40%;
}

.sign h1{
  color: red;
  font-weight: 700;
}
.signup{

}
